@model ZSZ.DTO.RoleDisplayDTO
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="pd-20">
    <form action="" method="post" class="form form-horizontal" id="formEdit">
        @Html.HiddenFor(p => p.Role.Id)
        <div class="row cl">
            <label class="form-label col-2"><span class="c-red">*</span>角色名称：</label>
            <div class="formControls col-10">
                @Html.TextBoxFor(p => p.Role.Name, new { @class = "input-text" })
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-2">权限分配：</label>
            <div class="formControls col-10">
                <dl class="permission-list">
                    @foreach (var perm in Model.AllPermission)
                    {
                        var checkstr = Model.RolePermissionIds.Contains(perm.Id) ? "checked" : null;
                        <dt>
                            <label>
                                <input type="checkbox" value="@perm.Id" name="PermissionIds" id="PermissionIds_@perm.Id" @checkstr>
                                @perm.Description
                            </label>
                        </dt>
                    }
                </dl>
            </div>
        </div>
        <div class="row cl">
            <div class="col-10 col-offset-2">
                <button type="button" class="btn btn-success radius" id="admin-role-save" name="admin-role-save"><i class="icon-ok"></i> 确定</button>
            </div>
        </div>
    </form>
</div>
@section FooterScript{
    <script>
        var ajaxSave = function () {
        var formData = $("#formEdit").serializeArray();
        $.ajax({
            url: "@Url.Action("Edit","Role")",
            data: formData,
            type: "POST",
            dataType: "json",
            success: function (res) {
                if (res.Status == "ok")
                {
                    parent.location.reload();
                }
                else
                {
                    alert("error");
                }
            }
        })
    };
    $(function () {
        $("#admin-role-save").click(ajaxSave);
        $(".permission-list dt input:checkbox").click(function () {
            $(this).closest("dl").find("dd input:checkbox").prop("checked", $(this).prop("checked"));
        });
        $(".permission-list2 dd input:checkbox").click(function () {
            var l = $(this).parent().parent().find("input:checked").length;
            var l2 = $(this).parents(".permission-list").find(".permission-list2 dd").find("input:checked").length;
            if ($(this).prop("checked")) {
                $(this).closest("dl").find("dt input:checkbox").prop("checked", true);
                $(this).parents(".permission-list").find("dt").first().find("input:checkbox").prop("checked", true);
            }
            else {
                if (l == 0) {
                    $(this).closest("dl").find("dt input:checkbox").prop("checked", false);
                }
                if (l2 == 0) {
                    $(this).parents(".permission-list").find("dt").first().find("input:checkbox").prop("checked", false);
                }
            }

        });
    });
    </script>
}