@using ZSZ.DTO
@model ZSZ.FrontWeb.Models.IndexModelView
@{
    ViewBag.Title = "Index";
}
@section Header{
    <link rel="stylesheet" href="~/css/swiper.min.css">
    <link href="~/css/exchangecity.css" rel="stylesheet" />
}
@{
    CityDTO[] cities = Model.Cities as CityDTO[];
    CityDTO[] hotCity = cities.Where(p => p.IsHot).ToArray();
    var currentCityName = cities.Where(p => p.Id == Model.CityId).FirstOrDefault().Name;
    var dicCity = cities.GroupBy(p => p.Initials).ToDictionary(p => p.Key, p => p);
    var count = (int)Math.Ceiling(dicCity.Count() / 2.0);
    var lCity = dicCity.Take(count);
    var rCity = dicCity.Skip(count);
}
<!--header star-->
<div class="header clearfloat">
    <div class="tu clearfloat">
        <img src="~/img/index-banner.jpg" />
    </div>
    <header class="mui-bar mui-bar-nav">
        <a class="btn" href="#">
            <p id="exchange" style="margin-bottom:0px;">@currentCityName<i class="iconfont icon-iconfontarrowdown-copy"></i></p>
        </a>
        <div class="top-sch-box flex-col">
            <div class="centerflex">
                <i class="fdj iconfont icon-sousuo"></i>
                <div class="sch-txt">请输入您要搜索的内容</div>
            </div>
        </div>
    </header>
    <div class="header-tit clearfloat">
        <p class="header-num">掌上租已为<span>53789</span>用户成功租房！</p>
        <p class="header-da">轻松租房  乐享生活</p>
    </div>
</div>
<!--header end-->
<div id="main" class="mui-clearfix">
    <!-- 搜索层 -->
    <div class="pop-schwrap">
        <div class="ui-scrollview">
            <div class="poo-mui clearfloat box-s">
                <div class="mui-bar mui-bar-nav clone poo-muitwo">
                    <div class="top-sch-box flex-col">
                        <div class="centerflex">
                            <i class="fdj iconfont icon-sousuo"></i>
                            <input class="sch-input mui-input-clear" type="text" name="" id="" placeholder="请输入您要搜索的内容" />
                        </div>
                    </div>
                </div>
                <a href="javascript:;" class="mui-btn mui-btn-primary btn-back" href="#">取消</a>
            </div>
            <div class="scroll-wrap">
                <div class="mui-scroll">
                    <div class="sch-cont">
                        <div class="section ui-border-b">
                            <div class="tit">热门搜索</div>
                            <div class="tags">
                                <span class="tag">大溪地</span><span class="tag">大溪地</span><span class="tag">大溪地</span>
                                <span class="tag">大溪地</span><span class="tag">大溪地</span><span class="tag">大溪地</span>
                                <span class="tag">大溪地</span><span class="tag">大溪地</span><span class="tag">大溪地</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="cation clearfloat">
        <ul class="clearfloat">
            <li>
                <a href="@Url.Action("Search","House",new { typeId = Model.Types["整租"]})">
                    <img src="~/img/fang.png" />
                    <p>整租</p>
                </a>
            </li>
            <li>
                <a href="@Url.Action("Search","House",new { typeId = Model.Types["合租"]})">
                    <img src="~/img/chuang.png" />
                    <p>合租</p>
                </a>
            </li>
            <li>
                <a href="@Url.Action("Search","House",new { typeId = Model.Types["短租"]})">
                    <img src="~/img/bao.png" />
                    <p>短租</p>
                </a>
            </li>
            <li>
                <a href="@Url.Action("Search","House",new { typeId = Model.Types["写字楼"]})">
                    <img src="~/img/lou.png" />
                    <p>写字楼</p>
                </a>
            </li>
            <li>
                <a href="map.html">
                    <img src="~/img/map.png" />
                    <p>地图找房</p>
                </a>
            </li>
            <li>
                <a href="landlord.html">
                    <img src="~/img/people.png" />
                    <p>我是房东</p>
                </a>
            </li>
            <li>
                <a href="join.html">
                    <img src="~/img/woshou.png" />
                    <p>加盟</p>
                </a>
            </li>
            <li>
                <a href="life-service.html">
                    <img src="~/img/self.png" />
                    <p>生活服务</p>
                </a>
            </li>
        </ul>
    </div>

    <div class="recom clearfloat">
        <div class="recom-tit clearfloat box-s">
            <p>热门房源推荐</p>
        </div>
        <div class="content clearfloat box-s">
            <div class="list clearfloat fl box-s">
                <a href="house-details.html">
                    <div class="tu clearfloat">
                        <span></span>
                        <img src="~/upload/list-tu.jpg" />
                    </div>
                    <div class="right clearfloat">
                        <div class="tit clearfloat">
                            <p class="fl">华府骏苑</p>
                            <span class="fr">2500<samp>元/月</samp></span>
                        </div>
                        <p class="recom-jianjie">三室一厅一卫   |  125m²  |  普装</p>
                        <div class="recom-bottom clearfloat">
                            <span><i class="iconfont icon-duihao"></i>随时住</span>
                            <span><i class="iconfont icon-duihao"></i>家电齐全</span>
                        </div>
                    </div>
                </a>
            </div>
            <div class="list clearfloat fl box-s">
                <a href="house-details.html">
                    <div class="tu clearfloat">
                        <span></span>
                        <img src="~/upload/list-tu.jpg" />
                    </div>
                    <div class="right clearfloat">
                        <div class="tit clearfloat">
                            <p class="fl">华府骏苑</p>
                            <span class="fr">2500<samp>元/月</samp></span>
                        </div>
                        <p class="recom-jianjie">三室一厅一卫   |  125m²  |  普装</p>
                        <div class="recom-bottom clearfloat">
                            <span><i class="iconfont icon-duihao"></i>随时住</span>
                            <span><i class="iconfont icon-duihao"></i>家电齐全</span>
                        </div>
                    </div>
                </a>
            </div>
            <div class="list clearfloat fl box-s">
                <a href="house-details.html">
                    <div class="tu clearfloat">
                        <span></span>
                        <img src="~/upload/list-tu.jpg" />
                    </div>
                    <div class="right clearfloat">
                        <div class="tit clearfloat">
                            <p class="fl">华府骏苑</p>
                            <span class="fr">2500<samp>元/月</samp></span>
                        </div>
                        <p class="recom-jianjie">三室一厅一卫   |  125m²  |  普装</p>
                        <div class="recom-bottom clearfloat">
                            <span><i class="iconfont icon-duihao"></i>随时住</span>
                            <span><i class="iconfont icon-duihao"></i>家电齐全</span>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<!--change city star-->
<div class="city-change animated">
    <span class="close"></span>
    <div class="title">
        选择城市
        <span class="city-tab">
            <span class="code1">热门城市:</span>
            @foreach (var city in cities.Where(p => p.IsHot).ToArray())
            {
                <a href="@Url.Action("Index","Main",new { cityId = city.Id})" title="@city.Name">@city.Name</a>
            }
        </span>
    </div>
    <div class="title-line"></div>
    <div class="fc-main clear">
        <div class="fl citys-l">
            <ul>
                @foreach (var item in lCity)
                {
                    <li class="clear">
                        <span class="code-title fl">@item.Key</span>
                        <div class="city-enum fl">
                            @foreach (var city in item.Value)
                            {
                                <a href="@Url.Action("Index","Main",new { cityId = city.Id})" title="@city.Name">@city.Name</a>
                            }
                        </div>
                    </li>
                }
            </ul>
        </div>
        <div class="fl citys-r">
            <ul>
                @foreach (var item in rCity)
                {
                    <li class="clear">
                        <span class="code-title fl">@item.Key</span>
                        <div class="city-enum fl">
                            @foreach (var city in item.Value)
                            {
                                <a href="@Url.Action("Index","Main",new { cityId = city.Id})" cityId="@city.Id" title="@city.Name">@city.Name</a>
                            }
                        </div>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>
<div class="overlayBg"></div>
<!--change city end-->
@{Html.RenderPartial("_Footer");}
@section Footer{
    <script type="text/javascript" src="~/js/fastclick.js"></script>
    <script type="text/javascript" src="~/js/mui.min.js"></script>
    <script type="text/javascript" src="~/js/hmt.js"></script>
    <script type="text/javascript" src="~/js/swiper.jquery.min.js"></script>
    <script>
        $(function () {
            var banner = new Swiper('.banner', {
                autoplay: 5000,
                pagination: '.swiper-pagination',
                paginationClickable: true,
                lazyLoading: true,
                loop: true
            });

            mui('.pop-schwrap .sch-input').input();
            var deceleration = mui.os.ios ? 0.003 : 0.0009;
            mui('.pop-schwrap .scroll-wrap').scroll({
                bounce: true,
                indicators: true,
                deceleration: deceleration
            });
            $('.top-sch-box .fdj,.top-sch-box .sch-txt,.pop-schwrap .btn-back').on('click', function () {
                $('html,body').toggleClass('holding');
                $('.pop-schwrap').toggleClass('on');
                if ($('.pop-schwrap').hasClass('on')) {
                    ;
                    $('.pop-schwrap .sch-input').focus();
                }
            });

            /*change city*/
            $("#exchange").click(function (e) {
                $(".city-change").show(),
                    $(".city-change").addClass("bounceIn"),
                    $(".overlayBg").fadeIn(300)
            });
            $(".close,.overlayBg").click(function (e) {
                $(".city-change").fadeOut().removeClass("bounceIn"),
                    $(".overlayBg").fadeOut()
            });

        });
    </script>

}

